<div class="jobs-block jobs-block-{{ this.class }}">
    {% set job_offers = [] %}
    {% for job in site.query('/jobs') %}
        {% do job_offers.append(job) %}
    {% endfor %}

    <div class="site-inner">
        <h1>{{ this.title }}</h1>
        <small>{{ this.short }}</small>
        {% if job_offers %}
            <div class="swiper-container swiper-events">
                <div class="swiper-wrapper">
                    {% for job in job_offers %}
                    <div class="swiper-slide">
                         <a href="{{ job|url }}">
                            <div class="job-title"><h2>{{ job.job_title }}</h2></div>
                            <div class="job-details">
                                <h3> Employer: {{ job.company}}</h3>
                                <h4> Location: {{ job.job_location }} </h4>
                                <h5> Posted On: {{ job.post_date }} </h5>
                            </div>
                            <div class="job-specs">{{ job.job_specification }}
                                <!-- <span class="slide-btn">See more</span> -->
                            </div>
                         </a>
                    </div>
                    {% endfor %}
                </div>
                <div class="swiper-button-prev sprite"></div>
                <div class="swiper-button-next sprite"></div>
                <div class="swiper-pagination"></div>
                <div class="swiper-scrollbar"></div>
            </div>
        {% else %}
            <p>{{ this.body }}</p>
        {% endif %}
    </div>
</div>




