<div class="partners-block">
    <div class="site-inner">
        <h1>{{ this.title }}</h1>
        <small>{{ this.short }}</small>
        <p>{{ this.body }}</p>
        <div class="swiper-container swiper-partners">
            <div class="swiper-wrapper">
                {% for partner in site.query('/partners') %}
                    <div class="swiper-slide">
                        {% for image in partner.attachments.images %}
                            <!-- <a href="{{ partner|url }}" target="_blank"> -->
                            <a><div class="image"><img src="{{ image|url }}"></div></a>
                            <!-- </a> -->
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


