<header id="header" class="header entry-header clear" role="banner">
    <div class="site-inner">
        <h1>
            <a href="{{ '/' | url }}">
                <span>The belgian comunity</span>
            </a>
        </h1>
        <nav class="nav main-nav" role="navigation">
            <ul id="menu-dsk">
                <li>
                    <a href="#events">Events</a>
                </li>
                <!-- <li>
                    <a href="#blogposts">Blogposts</a>
                </li> -->
                <li>
                    <a href="#education">Education</a>
                </li>
                <li>
                    <a href="#partners">Partners</a>
                </li>
                <li>
                    <a href="#joboffers">Jobs</a>
                </li>
                <li>
                    <a href="#testimonials">Testimonials</a>
                </li>
            </ul>
        </nav>
        <button id="burger-btn">
            <span></span>
        </button>
    </div>
</header>
<nav class="nav second-nav" role="navigation">
    <ul id="menu-mobile">
        <li>
            <a href="#events">Events</a>
        </li>
        <!-- <li>
            <a href="#blogposts" id="blogposts">Blogposts</a>
        </li> -->
        <li>
            <a href="#education">Education</a>
        </li>
        <li>
            <a href="#partners">Partners</a>
        </li>
        <li>
            <a href="#joboffers">Jobs</a>
        </li>
        <li>
            <a href="#testimonials">Testimonials</a>
        </li>
    </ul>
</nav>